*{
    padding: 0;
    margin: 0;
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.heading{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 60px;
    color: white;
}

.profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile{
    flex-basis: 260px;
}

.profile .profile-img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img{
    filter: grayscale(0);
}

.user-name{
    margin-top: 30px;
    font-size: 35px;
}

.profile h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

button{
    width: 180px;
    font-weight: bolder;
    font-size: 15px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

button a{
    text-decoration: none;
    color: #000;
}

.popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.popup h2{
    color: red;
    font-weight: bolder;
    padding-bottom: 15px;
    font-size: 30px;
    text-align: center;
}

.popup p{
    color: #000;
    padding-bottom: 15px;
}

.popup a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background: #111;
}

#popup1.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup3.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup4.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

@media only screen and (max-width: 1150px){
    .profiles{
        flex-direction: column;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile p{
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px){
    .heading{
        font-size: 40px;
        color: white;
        text-align: center;
    }

    .profiles{
        margin: 20px 0;
    }

    .profile p{
        margin: 20px 10px 80px 10px;
    }
}